$screen-xs:		400px;
$screen-sm:		480px;
$screen-md:		700px;
$screen-lg:		960px;
$screen-xl:		1280px;

$gutter:		16px;

// Fonts
$font-name-a:	"DM Sans";
$font-name-b:	"Averia Serif Libre";
$font-name-c: "Averia Serif Libre";

$font-sans:		$font-name-a, sans-serif;
$font-serif:	$font-name-b, $font-name-c, serif;
$font-code:		"DM Sans";

