/* --------------------------------

Header

-------------------------------- */

.site-header {
	margin: ($gutter / 2) 0 ($gutter * 1.5) 0;

	@media (min-width: $screen-lg) {
		margin: ($gutter / 2) 0 ($gutter * 3) 0;
	}

	@media (max-width: $screen-md) {
		border-bottom: 1px solid #eee;
	}

	nav {
		padding-bottom: $gutter;

		@media (min-width: $screen-md) {
			border-bottom: 1px solid #eee;
		}

		.site-title {
			color: $color-primary;
			font-family: $font-name-c, sans-serif;
			font-weight: 900;
			border: 0;
			font-size: 1.9em;
			@extend %transition-2;
			text-decoration: none !important;

			@media (max-width: $screen-md) {
				display: block;
				text-align: center;
				margin-bottom: ($gutter / 1.5);
			}

			&:hover {
				color: $color-white !important;
			}
		}

		.list-inline {
			@media (max-width: $screen-md) {text-align: center;}

			li a {
				text-decoration: none;
				margin-right: ($gutter / 1.5);
				@extend %transition-0;

				&:link,{
						color: $color-primary;
					}
				&:visited {
					color:  $color-primary;
				}

				@media (min-width: $screen-md) {
					padding-bottom: $gutter + 2px;

					&:hover,
					&:focus,
					&:active,
					&.active {
						border-bottom: 1px solid $color-link;
					}
				}

				@media (max-width: $screen-md) {
					margin: 0 0.5rem;
				}
			}
		}
	}
}
